﻿<%@ Master Language="C#" AutoEventWireup="true" CodeFile="MasterAdmin.master.cs" Inherits="PROTECTED_AdminLayer_MasterAdmin" %>

<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title></title>
    <asp:ContentPlaceHolder id="head" runat="server">
    </asp:ContentPlaceHolder>
</head>
<body>
    <form id="form1" runat="server">
    <center><h1>Wirtualny Dziekanat</h1></center>
    
        

      <asp:Menu ID="Menu2" runat="server">
          <Items>
                <asp:MenuItem NavigateUrl="~/PROTECTED/AdminLayer/Kierunki.aspx" Text="Kierunki" Value="Strona 1"></asp:MenuItem>
                <asp:MenuItem NavigateUrl="~/PROTECTED/AdminLayer/Konta.aspx" Text="Konta" Value="Strona 2"></asp:MenuItem>
              <asp:MenuItem NavigateUrl="~/PROTECTED/AdminLayer/Przedmioty.aspx" Text="Przedmioty" Value="Strona 2"></asp:MenuItem>
            </Items>

       </asp:Menu>
       <center> ********************************************************************************************************<br />
           <br />
        </center>
        <div>
        <asp:ContentPlaceHolder id="ContentPlaceHolder1" runat="server">
        
        </asp:ContentPlaceHolder>
            
    </div>
    </form>
</body>
</html>
